@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	@apply bg-gray-100 text-gray-600;
}

* {
	box-sizing: border-box;
}

section {
	@apply flex justify-center relative flex-col items-center my-10;
}

h1, h2, h3, h4 {
	@apply font-serif text-gray-900;
}

h1 {
	@apply text-5xl 
}

h2 {
	@apply text-4xl 
}

h3 {
	@apply text-2xl 
}

h4 {
	@apply text-xl 
}

.container {
	@apply flex max-w-md flex-col px-6;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
		rgb(var(--background-start-rgb));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@font-face {
	font-family: "TARegressoPROEasyRegular";
	src: url('/fonts/TARegressoPROEasyRegular/font.woff2') format('woff2'), 
		 url('/fonts/TARegressoPROEasyRegular/font.woff') format('woff');
	font-weight: normal;
	font-style: normal;
  }
  
