@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-size: 18px;
	@apply bg-gray-100 text-gray-600 scroll-smooth;
}

* {
	box-sizing: border-box;
	margin: 0;
}

div {
	@apply flex flex-col;
}

section {
	@apply relative flex flex-col items-center justify-center;
}

button {
	@apply rounded-full bg-gray-900 px-4 py-2 text-sm font-semibold text-gray-100 hover:opacity-75;
}

button.big {
	@apply rounded-2xl px-8 py-4 text-lg font-normal;
}

input {
	@apply rounded-lg bg-gray-900 px-4 py-4 text-sm font-normal text-gray-100;
	-webkit-appearance: none;
	appearance: none;
}

a {
	@apply text-gray-900 text-lg h-10 hover:opacity-50;
}

h1,
h2,
h3,
h4 {
	@apply font-serif text-gray-900;
}

h1 {
	@apply text-5xl;
}

h2 {
	@apply text-4xl;
}

h3 {
	@apply text-2xl;
}

h4 {
	@apply text-xl;
}

.container {
	@apply relative my-10 flex max-w-lg flex-col px-6;
}

.card {
	@apply rounded-3xl border border-gray-400;
}

.darkening {
	background: linear-gradient(
			0deg,
			rgba(23, 22, 20, 0) 15%,
			rgba(23, 22, 20, 0.01) 25.02%,
			rgba(23, 22, 20, 0.03) 33.18%,
			rgba(23, 22, 20, 0.07) 39.75%,
			rgba(23, 22, 20, 0.12) 45.04%,
			rgba(23, 22, 20, 0.18) 49.31%,
			rgba(23, 22, 20, 0.25) 52.88%,
			rgba(23, 22, 20, 0.33) 56.01%,
			rgba(23, 22, 20, 0.41) 58.99%,
			rgba(23, 22, 20, 0.5) 62.12%,
			rgba(23, 22, 20, 0.59) 65.69%,
			rgba(23, 22, 20, 0.67) 69.96%,
			rgba(23, 22, 20, 0.76) 75.25%,
			rgba(23, 22, 20, 0.85) 81.82%,
			rgba(23, 22, 20, 0.93) 89.98%,
			#171614 100%
		),
		linear-gradient(
			90deg,
			rgba(23, 22, 20, 0) 48.46%,
			rgba(23, 22, 20, 0.01) 54.54%,
			rgba(23, 22, 20, 0.03) 59.48%,
			rgba(23, 22, 20, 0.07) 63.47%,
			rgba(23, 22, 20, 0.12) 66.67%,
			rgba(23, 22, 20, 0.18) 69.27%,
			rgba(23, 22, 20, 0.25) 71.43%,
			rgba(23, 22, 20, 0.33) 73.33%,
			rgba(23, 22, 20, 0.41) 75.14%,
			rgba(23, 22, 20, 0.5) 77.03%,
			rgba(23, 22, 20, 0.59) 79.19%,
			rgba(23, 22, 20, 0.67) 81.79%,
			rgba(23, 22, 20, 0.76) 84.99%,
			rgba(23, 22, 20, 0.85) 88.98%,
			rgba(23, 22, 20, 0.93) 93.92%,
			#171614 100%
		),
		linear-gradient(
			270deg,
			rgba(23, 22, 20, 0) 50%,
			rgba(23, 22, 20, 0.01) 55.89%,
			rgba(23, 22, 20, 0.03) 60.69%,
			rgba(23, 22, 20, 0.07) 64.56%,
			rgba(23, 22, 20, 0.12) 67.67%,
			rgba(23, 22, 20, 0.18) 70.19%,
			rgba(23, 22, 20, 0.25) 72.28%,
			rgba(23, 22, 20, 0.33) 74.12%,
			rgba(23, 22, 20, 0.41) 75.88%,
			rgba(23, 22, 20, 0.5) 77.72%,
			rgba(23, 22, 20, 0.59) 79.81%,
			rgba(23, 22, 20, 0.67) 82.33%,
			rgba(23, 22, 20, 0.76) 85.44%,
			rgba(23, 22, 20, 0.85) 89.31%,
			rgba(23, 22, 20, 0.93) 94.11%,
			#171614 100%
		),
		linear-gradient(
			180deg,
			rgba(23, 22, 20, 0) 1.82%,
			rgba(23, 22, 20, 0.01) 11.18%,
			rgba(23, 22, 20, 0.03) 18.8%,
			rgba(23, 22, 20, 0.07) 24.94%,
			rgba(23, 22, 20, 0.12) 29.88%,
			rgba(23, 22, 20, 0.18) 33.88%,
			rgba(23, 22, 20, 0.25) 37.2%,
			rgba(23, 22, 20, 0.33) 40.13%,
			rgba(23, 22, 20, 0.41) 42.92%,
			rgba(23, 22, 20, 0.5) 45.84%,
			rgba(23, 22, 20, 0.59) 49.17%,
			rgba(23, 22, 20, 0.67) 53.17%,
			rgba(23, 22, 20, 0.76) 58.1%,
			rgba(23, 22, 20, 0.85) 64.25%,
			rgba(23, 22, 20, 0.93) 71.87%,
			#171614 81.23%
		);
}

.hero-darkening {
	background: linear-gradient(
			0deg,
			rgba(26, 26, 26, 0) 66.34%,
			rgba(26, 26, 26, 0.01) 68.35%,
			rgba(26, 26, 26, 0.04) 70.37%,
			rgba(26, 26, 26, 0.08) 72.38%,
			rgba(26, 26, 26, 0.15) 74.4%,
			rgba(26, 26, 26, 0.23) 76.41%,
			rgba(26, 26, 26, 0.33) 78.43%,
			rgba(26, 26, 26, 0.44) 80.44%,
			rgba(26, 26, 26, 0.56) 82.46%,
			rgba(26, 26, 26, 0.67) 84.47%,
			rgba(26, 26, 26, 0.77) 86.49%,
			rgba(26, 26, 26, 0.85) 88.5%,
			rgba(26, 26, 26, 0.92) 90.52%,
			rgba(26, 26, 26, 0.96) 92.53%,
			rgba(26, 26, 26, 0.99) 94.55%,
			#1a1a1a 96.56%
		),
		linear-gradient(
			180deg,
			rgba(26, 26, 26, 0) 53.66%,
			rgba(26, 26, 26, 0.01) 56.75%,
			rgba(26, 26, 26, 0.04) 59.83%,
			rgba(26, 26, 26, 0.08) 62.92%,
			rgba(26, 26, 26, 0.15) 66.01%,
			rgba(26, 26, 26, 0.23) 69.1%,
			rgba(26, 26, 26, 0.33) 72.19%,
			rgba(26, 26, 26, 0.44) 75.28%,
			rgba(26, 26, 26, 0.56) 78.37%,
			rgba(26, 26, 26, 0.67) 81.46%,
			rgba(26, 26, 26, 0.77) 84.55%,
			rgba(26, 26, 26, 0.85) 87.64%,
			rgba(26, 26, 26, 0.92) 90.73%,
			rgba(26, 26, 26, 0.96) 93.82%,
			rgba(26, 26, 26, 0.99) 96.91%,
			#1a1a1a 100%
		),
		rgba(26, 26, 26, 0.7);
}

.option-darkening {
	background: linear-gradient(
		270deg,
		rgba(23, 22, 20, 0) -28.59%,
		rgba(23, 22, 20, 0.01) -12.22%,
		rgba(23, 22, 20, 0.03) 1.1%,
		rgba(23, 22, 20, 0.07) 11.84%,
		rgba(23, 22, 20, 0.12) 20.47%,
		rgba(23, 22, 20, 0.18) 27.46%,
		rgba(23, 22, 20, 0.25) 33.28%,
		rgba(23, 22, 20, 0.33) 38.39%,
		rgba(23, 22, 20, 0.41) 43.27%,
		rgba(23, 22, 20, 0.5) 48.39%,
		rgba(23, 22, 20, 0.59) 54.2%,
		rgba(23, 22, 20, 0.67) 61.19%,
		rgba(23, 22, 20, 0.76) 69.82%,
		rgba(23, 22, 20, 0.85) 80.57%,
		rgba(23, 22, 20, 0.93) 93.89%,
		#171614 110.26%
	);
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
		rgb(var(--background-start-rgb));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@font-face {
	font-family: 'TARegressoPROEasyRegular';
	src:
		url('/fonts/TARegressoPROEasyRegular/font.woff2') format('woff2'),
		url('/fonts/TARegressoPROEasyRegular/font.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
